
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
}


header {
    background-color: #222;
    text-align: center;
    padding: 30px;
}

header h1 {
    color: gold;
    margin-bottom: 10px;
}


nav {
    background-color: #333;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}

nav a:hover {
    color: gold;
}


section {
    padding: 40px;
}

h2 {
    margin-bottom: 20px;
    color: gold;
}


.artist-image {
    display: block;
    width: 250px;
    margin: 20px auto;
    border-radius: 15px;
}


.song-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.song-card {
    background-color: #222;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
    text-align: center;
}

.song-card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}


form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: orange;
}


footer {
    background-color: #222;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}